@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: #a56900;
	text-decoration: none;
}
a:hover, a:focus {
	color: #007dbb;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;

}
#footer {
  background-color: #444;
  color: #b1b1b1;
  letter-spacing: 1px;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
color: white;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  padding: 1%;
  text-align:center;
}
nav h1 {
  margin: auto;
  font-size: 2rem;
}
nav h1 a {
  color: #fff;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    list-style: none;
    background-color: #eee;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    margin: auto;
    font-size: 1.1rem;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #007dbb;
  text-align: center;
  padding: 1%;
}
.filter-options h1 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
/* Flexbox container */
#restaurants-list {
  background-color: #f3f3f3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  width: 20%;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #e17900;
  font-family: Arial,sans-serif;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
}
#restaurants-list li a {
  background-color: #a56900;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin: 5% 0 0;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
/* Flexbox */
.inside header {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* Flexbox */
.inside #maincontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
}
.inside #map-container {
  align-self: auto;
  padding: 0;
}
.inside #map {
  background-color: #ccc;
  min-height: 100%;
  min-width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
#restaurant-name {
  color: #e17900;
  font-family: Arial,sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  padding: 2%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#reviews-container {
  width: 95%;
  padding: 3% 0;
}
#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
  letter-spacing: -1px;
  width: 90%;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 95%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}



/* ====================== Tablet and Phone Views ====================== */
 @media only screen and (max-width: 600px) {
    #restaurants-list li {
  width: 100%;
}
	#restaurant-container {
	  flex: 1 95%;
}
	.inside #map-container {
	  flex: 1 95%;
	  order: -10;
}

}


@media only screen and (min-width: 601px) and (max-width: 1200px) {
    #restaurants-list li {
  width: 45%;
}
	#restaurant-container {
	  flex: 1 95%;
}
	.inside #map-container {
	  flex: 1 95%;
	  order: -10;
}
}

 @media only screen and (min-width: 1201px) {
	.inside #map-container,
	#restaurant-container {
	  flex: 1 45%;
}

}
